.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  border: 1px solid blue;
  font-size: 10px;
  color: rgb(141, 205, 226);
}

.countryBorder{
 border: 6px rgb(53, 240, 53) solid;
}

.scoreClass{
  border: 1px solid black;
}
.myDiv{
  margin-left: auto;
  margin-right: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
